@{
    ViewBag.Title = "About Me";
}
<body>
    <div class="container-box">
        <codersrank-summary username="benj1x" min-width=1000></codersrank-summary>
        <h3>
            StudioBeans er et dansk firma fokuseret på <br /> software og spil udvikling, og er <br /> baseret i Jylland.
        </h3>
        <div>
            <a class="facebook" target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://www.facebook.com/StudioBeansGames")>
                <img src="/Content/Images/facebookLogo.png" alt="Facebook logo" width="30px" />
            </a>
            <a class="twitter" target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://twitter.com/StudioBeansDBA")>
                <img src="/Content/Images/twitterLogo.png" alt="Twitter logo" width="40px" />
            </a>
            <a class="github" target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://github.com/Benj1x")>
                <img src="/Content/Images/githubLogo.png" alt="Github logo" width="30px" />
            </a>
            <a class="youtube" target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://www.youtube.com/channel/UCMCDZaVcotIl03Tt2l8Vs3w")>
                <img src="/Content/Images/yotubeLogo.png" alt="Youtube logo" width="35px" />
            </a>
            <h6 class="email">
                boh@studiobeans.dk
            </h6>
        </div>
    </div>
<div class="container-box-right">
    <h3>Benjamin O. Høj</h3>
    <img src="~/images/placeholder.jpg" alt="Billede af: Benjamin" asp-append-version="true" style="width:150px;height:150px; border-radius: 50%" />
    <li style="margin-top: 25px;">Entusiast & Full-Stack udvikler</li>
    <li>20 år</li>
    @*<li><a asp-action="Portfolio">Portfolio</a></li>*@
</div>

</body>
