
@{
    ViewBag.Title = "Contact Consent";
}
<body>
    <div class="consent">
        <h2>StudioBeans’ betingelser for kontaktformularer</h2>

        <h3>Tak for din interesse i at blive kontaktet af mig :)</h3>
        <p class="description">
            Ved at bede om at blive kontaktet accepterer du nærværende vilkår for StudioBeans’ behandling af dine personoplysninger. <br />
            Ved at udfylde formularen accepterer du at blive kontaktet af mig:
            <br /><br />
            Benjamin O. Høj / StudioBeans
            <br /><br />
            Hvis du har spørgsmål, ønsker at tilbagetrække dit samtykke eller andet, er du altid velkommen til at kontakte mig på boh@studioBeans.dk, så vil StudioBeans’ tage hånd om din forespørgsel hurtigst muligt.
        </p>
        <hr />
        <h3>Personoplysninger og hvad StudioBeans’ bruger dem til</h3>
        <p class="description">
            Når du udfylder mig kontaktformular og beder om at blive kontaktet, afgiver du dit navn, e-mail adresse samt eventuelt en besked til mig.<br /><br />

            StudioBeans’ anvender først og fremmest disse oplysninger for at være i stand til at kontakte dig, præcis som du har bedt mig om. Men StudioBeans’ bruger også oplysningerne til på forhånd at danne os et indtryk af, hvem jeg kontakter, så jeg kan give dig den bedst mulige service, når jeg kontakter dig.
            <br /><br />
            Retsgrundlaget for StudioBeans’ indsamling/opbevaring/behandling af personoplysningerne er persondataforordningens artikel 6, stk. 1, litra b og litra f.
        </p>
        <hr />

        <h3>Hvor længe opbevarer StudioBeans’ dine personoplysninger?</h3>

        <p class="description">
            StudioBeans’ opbevarer kun dine personoplysninger så længe, det er nødvendigt. Herefter slettes eller anonymiseres dine data. Hvor længe, StudioBeans’ gemmer dine data, afhænger af formålet med at gemme dem.
        </p>
        <hr />
        <h3>Videregivelse</h3>
        <p class="description">
            StudioBeans’ sælger ikke dine oplysninger til 3. mand. Det kan dog forkomme at gøre brug af samarbejdspartnere i en række forskellige situationer. Når StudioBeans’ anvender samarbejdspartnere kan StudioBeans’ have behov for at dele dine personoplysninger med dem. Min brug af samarbejdspartnere er typisk med henblik på at understøtte mig 'forretning' f.eks. i forbindelse med design af produkter.
            <br /><br />
            De samarbejdspartnere, som StudioBeans’ gør brug af er bl.a. designere.

        </p>
        <hr />

        <h3>Overførsel af oplysninger til 3. lande</h3>
        <p class="description">
            Dine oplysninger overføres ikke til lande uden for EU og EØS.
        </p>

        <hr />
        <h3>Dine rettigheder</h3>
        <p class="description">
            Du har ret til at få indsigt i de oplysninger, StudioBeans’ behandler om dig m.v.
            <br /><br />
            Du har ret til at få urigtige oplysninger StudioBeans’ har om dig slettet, jfr. nærmere persondataforordningens artikel 16.
            <br /><br />
            Du har ret til at få slettet dine oplysninger hos StudioBeans’ jfr. persondataforordningens artikel 17. Denne ret kan du udøve ved at kontakte StudioBeans’ via mailadressen, som er angivet øverst.
            <br /><br />
            Du har ret til at få begrænset StudioBeans’ behandling af oplysninger om dig jfr. nærmere persondataforordningens artikel 18.
            <br /><br />
            Du har i visse tilfælde ret til at gøre indsigelse mod StudioBeans’ behandling af dine personoplysninger jfr. persondataforordningens artikel 21.
            <br /><br />
            Du har ret til at klage til Datatilsynet over StudioBeans’ behandling af personoplysninger.
            <br /><br />
            Se <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://www.datatilsynet.dk/")>www.datatilsynet.dk</a>
        </p>
    </div>
</body>