@{
    ViewBag.Title = "Games";
}

<div class="grid-Games">
    <div class="box-Designer">
        <img src="/Content/Images/KemiSpilUpscale.png" alt="Billede af spillet" 
             asp-append-version="true" style="width: 300px; height: 200px; border-radius: 10% " />
        <h3>Gymnasieprojekt</h3>
        <p>
            Et VR kemi spil, med water physics, lavet i Unity.<br />
            Grundet corona, var det været svært at udføre forsøg i de naturfaglige fag. Dette var også en af grundene 
            til at vi i gruppen ville arbejde videre med en idé, der skulle være med til at hjælpe unge studerende med lettere at forstå undervisningen.
            
            Temaet for spillet:
            Spillet skal spille på realistiske elementer, altså kemiske blandinger som man også kan lave i virkeligheden. Spillet skal have en lærerig
            effekt på spilleren hvis man f.eks. gerne vil lære lidt om kemiske reaktioner. Spillet skal være naturligt og realistisk, for spilleren skal opnå ny viden. Physics og andre elementer som vand og lys, skal virke så livagtige som muligt.
        </p>
    </div>
    <div class="box-Designer">
        <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
             asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
        <h3>Autonomy</h3>
        <p>Et MMORPG lavet i Unreal Engine 5</p>
        <p class="learn-More"> <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://youtu.be/-NcyJVCPUec")>Dette projekt er stadig igang, og mere information kan findes her</a></p>

    </div>
    
    <div class="box-Designer">
        <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
             asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
        <h3>Gymnasieprojekt</h3>
        <p>
            Et VR golf spil, lavet i Unity<br />Målet med spillet var at lave et spil, som blev gradvist sværer, derfor valgte vi et Mini-golfspil, med sværer og sværer baner.skal have realistiske 
            physics elementer, så folk skal ikke svæve, og størrelserne skal være realistiske. Målet i spillet er ligesom klassisk minigolf, at komme i mål på 
            færrest mulige slag. Spillet kører efter de “officielle” minigolf regler. Der skal være et scoreboard hvor man kan holde øje med sit antal slag på de forskellige baner.
            Spillet skal have multiplayer funktion, enten lokal eller online.
        </p>
        <p class="learn-More"> <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://youtu.be/-NcyJVCPUec")>Her er en video fremlæggelse om spillet</a></p>
    </div>
</div>