
@{
    ViewBag.Title = "Programs";
}

<div class="grid-Container">
    <div class="grid-Programs">
        @*<div class="box-Designer">
            <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
                 asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
            <h3>*Unavngivet spil*</h3>
            <p>Et spil lavet i Unreal Engine 4.26/5 (Opdateres)</p>
        </div>*@
        <div class="box-Designer">
            <img src="/Content/Images/TODOlist.png" alt="Billede fra: TODO-liste kode"
                 asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
            <h3 class="description-Title">TODO-Liste</h3>
            <p class="description">Et eksamens projekt fra 2021. Problemstillingen til dette projekt, var at gøre dagen mindre stressende. For at løse dette, lavede jeg et kalender program der kunne visualisere alle dagens gøre mål.</p>
            <p class="learn-More"> <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://github.com/Benj1x/TODOListe")>Lær mere om programmet</a></p>
        </div>
        <div class="box-Designer">
            <img src="/Content/Images/BargainHuntingAppLogo.png" alt="Billede af: Bargain hunting Logo"
                 asp-append-version="true" style="width:200px;height:200px; border-radius: 10%" />
            <h3 class="description-Title">Bargain hunting - P1 Projekt</h3>
            <p class="description">Første semester projekt. Problemstillingen til dette projekt, var at finde tilbud der kunne hjælpe folk under inflationen. For at løse dette problem, lavede gruppen et program, der fandt priser fra (danske) dagligvare butikker, og fandt alle priser, og sorterede dem fra dyrest til billigst. Programmet er skrevet i C. Mine significante contributions: API-kald, kreation af Dictionary, Vare beskrivelser, data-behandling</p>
            <p class="learn-More"> <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://github.com/Benj1x/Bargain-Hunting")>Lær mere om programmet</a></p>
        </div>
    </div>
</div>
