
@{
    ViewBag.Title = "Programs";
}

<div class="grid-Container">
    <div class="grid-Programs">
        @*<div class="box-Designer">
            <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
                 asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
            <h3>*Unavngivet spil*</h3>
            <p>Et spil lavet i Unreal Engine 4.26/5 (Opdateres)</p>
        </div>*@
        <div class="box-Designer">
            <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
                 asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
            <h3 class="description-Title">TODO-Liste</h3>
            <p class="description">Et eksamens projekt fra 2021. Problemstillingen til dette projekt, var at gøre dagen mindre stressende. For at løse dette, lavede jeg et kalender program der kunne visualisere alle dagens gøre mål.</p>
            <p class="learn-More"> <a target="_blank" rel="noopener noreferrer" href=@Html.AttributeEncode("https://github.com/Benj1x/TODOListe")>Lær mere om programmet</a></p>
        </div>
        @*<div class="box-Designer">
            <img src="/Content/Images/UnrealEngineLogo.jpg" alt="Billede af: Unreal Engine Logo, indtil der er et billede fra spillet"
                 asp-append-version="true" style="width:300px;height:200px; border-radius: 10%" />
            <h3>*Unavngivet spil*</h3>
            <p>Et spil lavet i Unreal Engine 4.26/5 (Opdateres)</p>
        </div>*@
    </div>
</div>
